{
    "extends": "standard",
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "rules": {
        "indent": ["error", 4]
    }
}